.userInfo_player-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.userInfo_player-face-active {
    width: 7vh;
    height: 7vh;
    border: 4px solid #096d13;
    color: #096d13;
    border-radius: 50%;
    margin-bottom: 5px;
    text-align: center;
        text-align: center;
}

.userInfo_player-face-inactive {
    width: 7vh;
    height: 7vh;
    border: 2px solid #fff;
    color: #096d13;
    border-radius: 50%;
    margin-bottom: 5px;
    text-align: center;
        text-align: center;
}

.userInfo_player-name {
    text-align: center;
    color: #ddd;
    text-align: center;
    font-size: 2vh;
}

