.not-found-wrapper {
  display: flex;
  width: 100vw;
  flex-direction: row;
}

.not-found-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: white;
  }

  .not-found-container h1 {
    font-size: 8rem;
    margin: 0;
    color: #df5d4fff;
  }

  .not-found-container p {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .img-404 {
    translate: 0 20vh;
    scale: 0.9;
    width: 50%;
    height: fit-content;
  }