.container {
  display: flex;
  position: absolute;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  
  border-radius: 2.5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  left: 4vw;
  top: 95px;
  color: rgba(255, 255, 255, 0.87);
}

.img{
  filter: opacity(0.7);
  width: 2.1rem;
  height: 2.1rem;
  margin-right: 0.5rem;
  margin-right: 0.7vw;
}

.text1{
  filter: opacity(0.7);
  line-height: .6; 
  margin-right: 1vw;
}

.text2{
  filter: opacity(0.7);
  font-weight: bold;
  font-size: 1.2em;
  line-height: .6;
}