.divider {
    width: 1px;
    height: 100%;
    border-radius: 2px;
  
    &__container {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 4px;
  
      &:hover {
        cursor: ns-resize;
      }
    }
  }

  .dock-card {
    border-radius: 12px;
    filter: saturate(0.9) brightness(0.9);
    transition: filter 200ms;
    padding: 0;
    margin: 0;
    cursor: pointer;
  
    &:hover {
      filter: saturate(1) brightness(1.12);
    }
  }
  
  .dock-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  
  .dock-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
  }

  .dock {
    position: absolute;
    translate: 0 170%;
    scale: 1.1;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    align-items: flex-end;
    height: 58px;
    display: flex;
    padding: 10px;
    padding-bottom: 6px;
    gap: 12px;
    /*background-color: rgba(0, 0, 0, 0.92); */
    will-change: contents;
    box-sizing: content-box;
    border-radius: 12px;
    transform-origin: center bottom;
  }

  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
  
    & img {
      width: 100%;
      height: 100%;

}
  
    &__blur {
      position: absolute;
      z-index: 1;
      opacity: 0.4;
      filter: blur(10px);
      transform: translateY(10px) scale(1.25);
    }
  
    &__img {
      position: relative;
      z-index: 0;
    }
  }
  